@model IEnumerable<TILAHA.Controllers.Models.Status>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OletusPaikka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Muu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lainassa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OletusPaikka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Muu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lainassa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeviceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeviceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeviceId })
        </td>
    </tr>
}

</table>

<button onclick="goBack()">Takaisin etusivulle</button>

<script>
function goBack() {
    window.history.back();
}
</script>
