@model TILAHA.Controllers.Models.Varuste

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Varuste</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Acc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acc2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acc2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acc3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acc3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acc4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acc4)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
